<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="demo.hello.plaync.webapp.repository.mssqlsample.MssqlSampleMapper">
 
    <select id="getPersonInfo" parameterType="String" resultType="demo.hello.plaync.webapp.beans.SampleDomain">
        SELECT ID_PERSON
        	 , NM_PERSON		
        	 , DT_BIRTH			
        	 , CD_GENDER		
        	 , NO_PHONE_1		
        	 , NO_PHONE_2		
        	 , NO_PHONE_3		
        	 , DS_ADDR			
        	 , DS_ADDR_DTL		
        	 , DS_COMMENT		
        	 , DT_REG			
        	 , DT_UPD			
          FROM testDB.dbo.TEST_PERSON
         WHERE 1 = 1
<if test="idPerson != '' and idPerson != null">
           AND ID_PERSON = #{idPerson}
</if>
         ORDER BY DT_REG DESC
    </select>
    
    <insert id="insertPersonInfo" parameterType="map">
    	<selectKey keyProperty="idPerson" resultType="String" order="BEFORE">
    		SELECT #{person.idPerson} + '1'
    	</selectKey>
        INSERT INTO testDB.dbo.TEST_PERSON (
        	   ID_PERSON
        	 , NM_PERSON
        	 , DT_BIRTH
        	 , CD_GENDER
        	 , NO_PHONE_1
        	 , NO_PHONE_2
        	 , NO_PHONE_3
        	 , DS_ADDR
        	 , DS_ADDR_DTL
        	 , DS_COMMENT
        	 , DT_REG
        	 , DT_UPD
        ) VALUES (
        	     #{idPerson}
        	   , #{person.nmPerson}
        	   , CONVERT(DATE, #{person.dtBirth})
        	   , #{person.cdGender}
        	   , #{person.noPhone1}
        	   , #{person.noPhone2}
        	   , #{person.noPhone3}
        	   , #{person.dsAddr}
        	   , #{person.dsAddrDtl}
        	   , #{person.dsComment}
        	   , CURRENT_TIMESTAMP
        	   , CURRENT_TIMESTAMP
        )
    </insert>
    
    <delete id="deletePerson" parameterType="String">
    	DELETE testDB.dbo.TEST_PERSON
    	 WHERE 1 = 1
    	   AND ID_PERSON = #{idPerson}
    </delete>
     
</mapper>