<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="type" content="Websites:article"/>
    <meta property="og:site_name" content="plaync" />
    <meta property="og:title" content="Hello Plaync"/>
    <title>금칙어 XSS 테스트</title>
</head>
<body>
    <div>
        <h1>금칙어 테스트</h1><hr/>
        <h2>원본</h2>
        <p th:text="${bannedContent}">원본</p>
        <h2>금칙어 적용</h2>
        <p plaync:prettywords="${bannedContent}">금칙어 적용</p><br/>
    </div>
    <div>
        <h1>XSS 필터 테스트</h1><hr/>
        <h2>원본</h2>
        <p th:text="${xssContent}">원본</p>
        <h2>XSS 적용</h2>
        <p plaync:xss="${xssContent}">XSS 적용</p><br/>
    </div>
    <div>
        <h1>금칙어 + XSS 필터 테스트</h1><hr/>
        <h2>원본</h2>
        <p th:text="${bothContent}">원본</p>
        <h2>금칙어 + XSS 적용</h2>
        <p plaync:xssprettywords="${bothContent}">금칙어 + XSS 적용</p><br/>
    </div>
</body>
</html>