<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="type" content="Websites:article"/>
    <meta property="og:site_name" content="plaync" />
    <meta property="og:title" content="Hello Plaync"/>
    <title>Hello Plaync</title>
</head>
<body>
    <div>
        <h1>Hello Plaync</h1>
        <h2 th:text="${blabla}">Say Hello</h2>
    </div>
</body>
</html>